<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="settes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="settes/bootstrap/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3 class="d-flex justify-content-center underline p-3">Add Contact</h3>
          <form action="" method="post">
            <div class="row">
            <div class="col-3 ">
                <label >Name :</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="col-3">
                <label >Frist_Name :</label>
                <input type="text" name="first_name" class="form-control">
            </div>
            <div class="col-3">
                <label >Last_Name :</label>
                <input type="text" name="last_name" class="form-control">
            </div>
            <div class="col-3">
                <label >Email :</label>
                <input type="text" name="email" class="form-control">
            </div>
            <div class="col-3">
                <label >Phone :</label>
                <input type="text" name="phone" class="form-control">
            </div>
            <div class="col-3">
                <label >Adddress1 :</label>
                <input type="text" name="address1" class="form-control">
            </div>
            <div class="col-3">
                <label >Address2 :</label>
                <input type="text" name="address2" class="form-control">
            </div>
            <div class="col-3">
                <label >City :</label>
                <input type="text" name="city" class="form-control">
            </div>
            <div class="col-3">
                <label >State :</label>
                <input type="text" name="state" class="form-control">
            </div>
            <div class="col-3">
                <label >Address2 :</label>
                <input type="text" name="zcode" class="form-control">
            </div>
            <div class="col-3">
                <label >Contact_Group :</label>
                <input type="text" name="contact_group" class="form-control">
            </div>
            <div class="col-6">
                <label >Notice :</label>
                <textarea name="notice" class="form-control"></textarea>
            </div>
        </div>
        <input type="submit" value="Send" name="send" class="btn btn-primary">
        <a href="index.html" class="btn btn-dark">Home</a>
        </form>
      
    </div>
    
</body>
</html>