<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="settes/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="settes/bootstrap/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
       
       
        <div class="py-5 my-3 d-flex justify-content-between underline">
            <h1>Ajax Address Bock</h1>
            <div>
                <a href="contact.html" class="btn btn-primary">Add Contact</a>
            </div>
        </div>
        <div class="d-flex justify-content-center ">
            <div class="image-small">
                <img src="settes/images/loader_image.gif">
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>phone</th>
                    <th>email</th>
                    <th>address</th>
                    <th>group</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>name1</td>
                    <td>number1</td>
                    <td>email1</td>
                    <td>address1</td>
                    <td>grouup1</td>
                    <td>
                        <div class="d-flex">
                          <a href="edit.html" class="btn btn-primary mx-1">Edit</a>
                          <button class="btn btn-danger">delete</button>
                        </div>
                      </td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
   
  <script src="settes/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>